body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

.recipe {
    text-align: left;
}

h2 {
    font-size: 2.5em;
    color: #FF6F61;
}

.recipe-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content, .image-container {
    width: 45%;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #FF6F61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.image-container img {
    width: 100%;
    border-radius: 10px;
}
